# build artifacts
*.o
*.obj

# intermediate build files
*.exp
*.lib

# binaries
mfaktc
*.exe

# device-specific mfaktc files
*.ckp
*.log
results.txt
results.json.txt
results_sent.txt
worktodo.txt
worktodo.add

# other
.vs/
*.zip